//
// Table Style
// -----------------------------------------------------------------------------

.table {
	margin: 0 0 $spacing-paragraph 0;
	.spacer {
		padding: 0 5px;
		text-align: center;
	}
}
