<div class="modal-body modal-theme-punch">
  <span class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
  <%= render "form/review" %>
</div>
<script type="text/javascript">
jQuery(document).ready(function($){
  $('[data-action="punch-rate"]').on('mouseenter', '.punch-rate', function(e) {
    var $this  = $(this),
      parent = $this.parent(),
      labels = parent.find('label'),
      index  = labels.index($this);
    parent.find('.spicon-star').removeClass('active');
    labels.each(function(i){
      if (i <= index) {
        $(this).find('.spicon-star').addClass('active');
      }
    });
  }).on('click', '.punch-rate', function(e) {
    e.preventDefault();
    var $this   = $(this),
      parent  = $this.parent(),
      inputs  = parent.find('label').find('input[type="checkbox"]'),
      checked = parent.find('label').find('input[type="checkbox"]:checked').last(),
      index   = inputs.index($this.find('input[type="checkbox"]')),
      check   = true;
    if (inputs.index(checked) == index) {
      check = false;
    }
    inputs.each(function(i) {
      if (i <= index) {
        $(this).prop('checked', check);
      }
      else {
        $(this).prop('checked', false);
      }
    });
  }).on('mouseleave', function(e) {
    $(this).find('.spicon-star').removeClass('active');
  });
});
</script>