<div class="modal-body modal-theme-dark">
  <form class="search-form" action="#" method="post">
    <p>You can easily filter your search with this feature.<br />Please try to filter based on what you need.</p>
    <div class="search-category">
      <label><input type="checkbox" name="category[]" value="food" /><i class="spicon spicon-food"></i></label>
      <label><input type="checkbox" name="category[]" value="bar" /><i class="spicon spicon-bar"></i></label>
      <label><input type="checkbox" name="category[]" value="book" /><i class="spicon spicon-book"></i></label>
      <label><input type="checkbox" name="category[]" value="fashion" /><i class="spicon spicon-fashion"></i></label>
      <label><input type="checkbox" name="category[]" value="coffe" /><i class="spicon spicon-coffe"></i></label>
    </div>
    <div class="clearfix"></div>
    <div class="search-input">
      <input type="text" name="query" placeholder="KEYWORDS" />
    </div>
    <div class="search-input">
      <select name="mall">
        <option value="">-- MALL --</option>
      </select>
    </div>
    <div class="search-input">
      <select name="location">
        <option value="">-- LOCATION --</option>
      </select>
    </div>
    <div class="search-input">
      <select name="budget">
        <option value="">-- BUDGET --</option>
      </select>
    </div>
    <div class="search-button">
      <input type="submit" value="SEARCH" /> 
      <input data-dismiss="modal" aria-label="Close" aria-hidden="true" type="button" value="CANCEL" />
    </div>
  </form>
</div>