<div class="canvas">
  <!-- Dashboard Content -->
  <div class="content dashboard">
    <div class="dashboard-container fade">
      <!-- Dashboard Help -->
      <a class="dashboard-help" data-toggle="modal" data-target="#dashboard-help">?</a>
      <!-- Dashboard Logo -->
      <h1 class="dashboard-logo">
        <i class="spicon spicon-logo"></i>
        <span>SpotPunch</span>
      </h1>
      <!-- Form Login -->
      <%= render "form/login" %>
    </div>
  </div>
</div>
<div class="modal fade" id="dashboard-help" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "modal/help" %>
    </div>
  </div>
</div>
<script type="text/javascript">
  <% flash.each do |name, msg| %>
    alert("<%= msg %>");
  <% end %>
</script>