<div class="sidebar">
  <div class="sidebar-inner">
    <!-- Sidebar Profile -->
    <%= render "container/profile" %>
    <!-- Sidebar Navigation -->
    <ul class="navigation">
      <li>
        <%= link_to root_path do %>
          <i class="spicon spicon-home"></i> Timeline
        <% end %>
      </li>
      <li><a href="#"><i class="spicon spicon-activity"></i> Activity</a></li>
      <li><a href="#"><i class="spicon spicon-promotion"></i> Promotions</a></li>
      <li><a href="#"><i class="spicon spicon-wishlist"></i> Wishlist</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="spicon spicon-setting"></i> Settings</a></li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete  do %>
          <i class="spicon spicon-logout"></i> Logout
        <% end %>
      </li>
    </ul>
  </div>
</div>