<section id="main-content" class="content dashboard">
    <span class="dashboard-help" onclick="alert('Help Button'); return false;">?</span>
    <h1 class="dashboard-logo">
      <i class="spcon spcon-logo"></i>
      <span>SpotPunch</span>
    </h1>
    <form onsubmit="alert('Form send post'); return false;" class="login-form" action="index.html" method="post">
      <div class="login-input">
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="login-input">
        <input type="password" name="password" placeholder="Password" />
      </div>
      <div class="login-button">
        <input type="submit" value="LOGIN" />
      </div>
      <div class="login-link">
        <div class="login-row">
          <div><a href="#" onclick="alert('Redirect to Forgot page'); return false;">Forgot</a></div>
          <div><a href="#" onclick="alert('Redirect to Register page'); return false;">Register</a></div>
        </div>
      </div>
    </form>
    <div class="spotpunch-intro">
      <h3>What is SpotPunch?</h3>
      <p>SpotPunch is an app where you can easily explore interesting places around you, especially inside malls. You can check out merchant's highlight products, news, and promotions. You can also easily look for merchant's spot inside malls. Love a product that you just bought? Punch it! Then your friends will get updated about products that you just bought, as well as you can check out your friends purchased products.</p>
      <p>Let's Spot and Punch!</p>
    </div>
  </section>