<div class="canvas">
  <%= render "layouts/sidebar"%>
  <div class="content">
    <%= render partial: "container/header", locals: { title: "TIMELINE" }%>
    <div class="container">
      <ul class="listing">
        <%= render_activities(@activities) %>
        <% if false %>
        <%= render partial: "container/official_shop", locals: { shop: @uniqlo }%>
        <li class="item">
          <div class="list">
            <div class="list-image">
              <a href="#" class="list-logo">
                <img src="/images/logo/logo02.jpg" alt="logo" />
              </a>
            </div>
            <div class="list-content">
              <div class="list-header">
                <div class="list-header-text">
                  <div class="timeline-text1">
                    <a href="#">Blog</a>
                  </div>
                  <div class="timeline-text2">
                    <a href="#">Midnight Sale</a>
                  </div>
                </div>
                <a class="list-nav" href="#"><i class="spicon spicon-arrow-right"></i></a>
              </div>
              <div class="list-body">
                <p>"Big wigs and stilt dresses would be fun" - blogger @redpoppyzuz tell #HMLife about the time period she would travel back through history to experience. Read the full story on hm.com/life. Photo by: @le21eme</p>
              </div>
            </div>
          </div>
          <div class="list-blog-image">
            <img src="/images/sample/sample-blog-image.jpg" alt="sample" />
          </div>
        </li>
        <% end %>
      </ul>
      <div class="loadmore">
        <a href="#loadmore">LOADMORE</a>
      </div>
    </div>
  </div>
</div>

<%# content_for :javascript_document do %>
  <%#= javascript_include_tag 'libs/jquery/jquery.min' %>
  <%#= javascript_include_tag 'libs/bootstrap/transition' %>
  <%#= javascript_include_tag 'libs/bootstrap/modal' %>
  <%#= javascript_include_tag 'spotpunch' %>
<%# end %>