<div class="canvas">
  <%= render "layouts/admin_sidebar"%>
  <div class="content">
    <%= render partial: "container/header", locals: { title: "BRAND" }%>
    <div class="container">
      <%= link_to "New Mall", new_brand_path %>
      <ul class="listing">
        <% @brands.each do |brand| %>
          <%= render partial: "list/brand_at_administrator", locals: { brand: brand }%>
        <% end %>
      </ul>
    </div>
  </div>
</div>