<section id="main-content" class="content dashboard">
  <span class="dashboard-help" onclick="alert('Help Button'); return false;">?</span>
  <h1 class="dashboard-logo">
    <i class="spcon spcon-logo"></i>
    <span>SpotPunch Administrator</span>
  </h1>
  <form onsubmit="alert('Form send post'); return false;" class="login-form" action="index.html" method="post">
    <div class="login-input">
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div class="login-input">
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div class="login-button">
      <input type="submit" value="LOGIN" />
    </div>
  </form>
</section>