<div class="canvas">
  <%= render "layouts/admin_sidebar"%>
  <div class="content">
    <%= render partial: "container/header", locals: { title: "TIMELINE" }%>
    <div class="container">
    </div>
  </div>
</div>