<div class="canvas">
  <%= render "layouts/admin_sidebar"%>
  <div class="content">
    <%= render partial: "container/header", locals: { title: "TIMELINE" }%>
    <div class="container">
      <%#= link_to "New Mall", new_store_path %>
      <ul class="listing">
        <% @stores.each do |store| %>
          <%= render partial: "list/store_at_administrator", locals: { store: store }%>
        <% end %>
      </ul>
      <!-- <div class="loadmore">
        <a href="#loadmore">LOADMORE</a>
      </div> -->
    </div>
  </div>
</div>