<header class="navbar">
  <div class="navbar-inner">
    <!-- Left Icon -->
    <a id="toogle-sidebar" href="#" class="visible-phone pull-left">
      <i class="spicon spicon-nav"></i>
    </a>

    <!-- Right Icon -->
    <a href="modals/search.html" data-toggle="modal" data-target="#spotpunch-modal" class="pull-right">
      <i class="spicon spicon-search"></i>
    </a>

    <!-- Header Title -->
    <h1 class="navbar-title"><%= title %></h1>
  </div>
</header>