<li class="item">
  <div class="list">
    <div class="list-image">
      <a href="shop.html" class="list-logo">
        <img src="images/logo/logo01.jpg" alt="logo" />
      </a>
    </div>
    <div class="list-content">
      <div class="list-header">
        <div class="header-text">
          <div class="text1">
            <%= link_to shop.name, show_malls_path(name:shop.mall.permalink, permalink:shop.permalink) %>
          </div>
          <div class="text2">
            <a href="shop.html#shop-news">Midnight Sale</a>
          </div>
        </div>
        <a class="list-nav" href="shop.html#shop-news"><i class="spicon spicon-arrow-right"></i></a>
      </div>
      <div class="list-body">
        <p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      </div>
    </div>
  </div>
</li>