<div class="sidebar-profile">
  <%= link_to profile_path(permalink:current_user.username) do %>
    <% if current_user.image.blank? %>
      <img class="sidebar-profile-image" src="/images/photo/photo01.jpg" alt="profile" />
    <% else %>
      <img class="sidebar-profile-image" src="<%= current_user.image.avatar.thumb.url %>" alt="profile" />
    <% end %>
  <% end %>
  <div class="sidebar-profile-body">
    <div class="sidebar-profile-name"><%= display_name current_user %></div>
    <%= link_to "Edit Profile", edit_user_registration_path %>
  </div>
</div>