<div class="sidebar">
  <div class="sidebar-inner">
    <!-- Sidebar Profile -->
    <%= render "container/profile" %>
    <!-- Sidebar Navigation -->
    <ul class="navigation">
      <li><a href="timeline.html"><i class="spicon spicon-home"></i> Timeline</a></li>
      <li><a href="#"><i class="spicon spicon-activity"></i> Activity</a></li>
      <li><a href="profile.html#punch"><i class="spicon spicon-punch"></i> Your Punches</a></li>
      <li><a href="profile.html#spotting"><i class="spicon spicon-spoting"></i> Spotting</a></li>
      <li><a href="profile.html#spotters"><i class="spicon spicon-spotter"></i> Spotters</a></li>
      <li><a href="#"><i class="spicon spicon-promotion"></i> Promotions</a></li>
      <li><a href="#"><i class="spicon spicon-wishlist"></i> Wishlist</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="spicon spicon-setting"></i> Settings</a></li>
      <li><a href="index.html"><i class="spicon spicon-logout"></i> Logout</a></li>
    </ul>
  </div>
</div>