<li class="item">
  <div class="list">
    <div class="list-image">
      <%= link_to "#", class: "list-photo" do %>
          <img src="/images/photo/photo02.jpg" alt="photo" />
          <span class="verify-icon"><i class="spicon spicon-check"></i></span>
      <% end %>
    </div>
    <div class="list-content">
      <div class="text1">
        <%= link_to brand.name, "#" %>
      </div>
      <div class="text2">
        <%#= link_to store.mall.name, mall_path(store.mall.permalink) %>
      </div>
      <div class="text3">
        <%= link_to "Edit", "#" %> |
        <%= link_to "Delete", "#" %>
      </div>
    </div>
  </div>
</li>