<li class="item">
  <div class="list">
    <div class="list-image">
      <%= link_to "#", class: "list-photo" do %>
          <img src="/images/photo/photo02.jpg" alt="photo" />
          <span class="verify-icon"><i class="spicon spicon-check"></i></span>
      <% end %>
    </div>
    <div class="list-content">
      <div class="text1">
        <%= link_to mall.name, mall_path(mall.permalink) %>
      </div>
    </div>
  </div>
</li>