<% content_for :title do %>Register | Spotpunch<% end %>
<section id="main-content" class="content dashboard">
  <span class="dashboard-help" onclick="alert('Help Button'); return false;">?</span>
  <h1 class="dashboard-logo">
    <i class="spcon spcon-logo"></i>
    <span>SpotPunch</span>
  </h1>
  <%= render "form/register" %>
</section>
<script type="text/javascript">
  <% unless resource.errors.empty? %>
    alert("<%= devise_error_messages!.html_safe %>");
  <% end %>
</script>